<div class="card mb-3 col-md-5" style="margin:1rem;" id="<%= dom_id studysession %>">
<div>
  <div class="card-header">
      <h4 class="card-title"><strong>Duration: <%= studysession.duration %> Months</strong></h4>
  </div>
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted">SESSION</h5>
      <p class="card-text"><%= studysession.description%></p>
      <%= link_to "Show this studysession", studysession,  class:"card-link" %>
    </div>
</div>
</div>