<h1>Editing studysession</h1>
<div class="row" style="width:90%;">
  <div class="d-flex justify-content-center col-md-5">
    <%= render "form", studysession: @studysession %>
  </div>

<br>
<br>
<br>

  <div class="" style="margin:3rem;">
    <%= link_to "Show this studysession", @studysession, class:"text-success" %> |
    <%= link_to "Back to studysessions", studysessions_path , class:"text-success"%>
  </div>
</div>
