<h1>New information</h1>
<div class="d-flex justify-content-center">
  <%= render "form", information: @information %>
</div>

<br>

<div>
  <%= link_to "Back to information", information_index_path %>
</div>
